extends ../assets/layout

block style
  link(type="text/css", rel="stylesheet", href="./#{name}.css")

block content

  fieldset.bigger.ac
    legend Normal
    .demo
      .ESlider(style="height:240px")
        ul.ESlider-items
          each slider,key in sliders
            - var cName = key == 0 ? 'ESlider-item current' : 'ESlider-item'
            li(data-slider="item", class="#{cName}")
              a(href="#none")
                img(src="#{slider}", width="670", height="240")
        .ESlider-triggers
          each slider,key in sliders
            - var cName = key == 0 ? 'ESlider-trigger current' : 'ESlider-trigger'
            span(data-slider="trigger", class="#{cName}") #{key+1}


block localScript
  script.
    $('.ESlider').ESlider({
        interval: 1000,
        debug: true,
        onHoverStop: true
    });
