doctype html
html
  head
    title #{name} - #{version}
    meta(charset="utf-8")
    link(rel='stylesheet', type='text/css' href='../assets/plugins.css')

    block style

  body
    .nav
      strong
        a(href="/") Easy UI
      | &nbsp;»
    br
    br

    block content


    .clr.x

    script(src='../assets/jquery-1.6.4.js')
    //- script(src='../E/ui/#{name}/#{version}/#{name}.js')
    script(src='./#{name}.js')
    block localScript
